@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
  background-image: url(./composite.jpg);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center top;
  background-color: #fff;
  background-size: 100%;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

.Settings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin: 10px 5%;
  border: 2px solid #222;
  border-radius: 5px;
  position: relative;
}

.logo {
  margin: 0px auto;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

h1 {
  font-size: 24;
}

.display-none {
  display: none;
}

.suggestions {
  display: block;
}

input[type="text"] {
  padding: 8px 6px 8px 10px;
  border: 1px solid #222;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input[type="text"]:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 64px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #dee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcc;
}

.number-container {
  display: inline-flex;
  background-color: #fff;
  flex-basis: 200px;
  max-width: 200px;
  height: 38px;
  text-align: center;
  border: 1px solid #222;
  border-radius: 4px;
  outline: none;
  align-self: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.number-label {
  display: inline-block;
  padding: 8px 4px 8px 10px;
  background-color: #fff;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
}

.number-input {
  display: inline-block;
  justify-content: right;
  width: 60px;
  align-self: center;
  border-style: none;
  outline: none;
}

.EventList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.event {
  margin: 10px 5%;
}

.event-container {
  width: 100%;
  background-color: #fff;
  padding: 10px 10px 35px;
  text-align: left;
  border: 2px solid #222;
  border-radius: 5px;
  position: relative;
  transform: translateY(200%);
  opacity: 0;
  animation: slideIn 0.6s ease-out forwards;
  -webkit-animation: slideIn 0.6s ease-out forwards;
  -moz-animation: slideIn 0.6s ease-out forwards;
  -o-animation: slideIn 0.6s ease-out forwards;
  -ms-animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-moz-keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-o-keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-ms-keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.event-description {
  opacity: 0;
  animation: fadeIn 1s forwards;
  -webkit-animation: fadeIn 1s forwards;
  -moz-animation: fadeIn 1s forwards;
  -o-animation: fadeIn 1s forwards;
  -ms-animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.details-btn {
  position: absolute;
  background-color: #dee;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: relative;
  top: 10px;
  padding: 0 8px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media only screen and (min-width: 992px) {
  .Settings {
    margin: 10px 35%;
  }
  .event {
    margin: 10px 20%;
  }
  .event-container {
    width: 850px;
  }
  h1 {
    font-size: 32;
  }
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .event-container {
    width: 450px;
  }
}
